---
import type { NavBarItem } from '@/lib/navbar'
import MobileNav from '@/MobileNav'
import { FileAudio, Home, Info, Mail, UsersRound } from 'lucide-react'
import { Button, buttonVariants } from './ui/button'

import { frontmatter as DATA } from '@/description.md'
const navBarItems: NavBarItem[] = [
  {
    label: 'Home',
    href: '/',
    icon: Home,
  },
  {
    label: 'Blog',
    href: '/',
    icon: Home,
  },
]
---

<header
  class="sticky top-0 z-50 max-h-16 w-full border-b bg-background/95 backdrop-blur supports-[backdrop-filter]:bg-background/60"
>
  <div
    class="container flex h-16 items-center space-x-4 px-4 sm:justify-between sm:space-x-0"
  >
    <div class="flex gap-6 md:gap-10">
      <a href="/" class="flex items-center space-x-2">
        <span class="inline-block font-bold">{DATA.name}</span>
      </a>
    </div>
    <div class="flex flex-1 items-center justify-end space-x-4">
      <!-- <nav class="flex items-center space-x-1">
        {
          navBarItems.map((i) => (
            <a
              href={i.href}
              rel="noreferrer"
              class={buttonVariants({ variant: 'ghost' })}
            >
              {i.label}
            </a>
          ))
        }
      </nav> -->
      <div class="mr-4 hidden gap-2 md:flex">
        {
          navBarItems.map((i) => (
            <a
              href={i.href}
              rel="noreferrer"
              class={buttonVariants({ variant: 'ghost' })}
            >
              {i.label}
            </a>
          ))
        }
      </div>
      <MobileNav items={navBarItems} client:only="react" />
    </div>
  </div>
</header>
